<% provide(:title, "Sign In") %>

<div class="row">
	<div class="sign-in small-9 small-centered columns">
		<h1 class="centered subheader">Ranguru</h1>

		<% flash.each do |key, value| %>
  		<div class="centered notification <%= key %>"><%= value %></div>
		<% end %>

		<%= form_for(:session, url: sessions_path) do |f| %>

		  <!-- <%= f.label :email %> -->
		  <%= f.text_field :email, placeholder: "Email" %>

		  <!-- <%= f.label :password %> -->
		  <%= f.password_field :password, placeholder: "Password" %>

		  <%= f.submit "Sign in", class: "button expand" %>

		<% end %>

		<p class="centered sign_up_label">Don't have an account? <%= link_to "Sign up now!", signup_path, class: "bold" %></p>
	</div>
</div>