<!-- <p>Recomendação (Mahout):  <%= @recommendations[@index_recommendation]%> / Índice: <%=@index_recommendation%></p> -->

Sessão: <%=@session%>
<h4 class="subheader" style="text-align:center">Recomendações do Guru para você!</h4>
<div class="large-12 columns"> 
  <div class="large-10 large-centered columns">
    <div class="slideshow-wrapper">                 
<!--       <span class="preloader"></span> -->
        <ul id="featured1" data-orbit data-options="pause_on_hover:false; timer_speed:0;">
          <% @recommendations.each do |recommendation| 
          restaurant = Restaurant.find(recommendation[0])
          rating = recommendation[1]
          %>
            <li>
              <img style="margin-left: 100px" src="<%= restaurant.image_url %>" />
              <div class="orbit-caption">
                <%=restaurant.name%> - Nota do Guru: <%=rating.round(1)%>
              </div>
            
                          <!-- 
              <div id="mymodal" class="centered reveal-modal rating-modal"> -->
              <div id="rating-restaurant" class="centered rating-div">
                <p style= "margin-bottom: -3px">Já conhece esse restaurante? Avalie!</p>
                <a class="1-star fi-star" href="/restaurants/rate?restaurant_id=<%=restaurant.id%>&restaurant_rating_value=1&recommendation=true"></a>
                <a class="2-star fi-star" href="/restaurants/rate?restaurant_id=<%=restaurant.id%>&restaurant_rating_value=2&recommendation=true"></a>
                <a class="3-star fi-star" href="/restaurants/rate?restaurant_id=<%=restaurant.id%>&restaurant_rating_value=3&recommendation=true"></a>
                <a class="4-star fi-star" href="/restaurants/rate?restaurant_id=<%=restaurant.id%>&restaurant_rating_value=4&recommendation=true"></a>
                <a class="5-star fi-star" href="/restaurants/rate?restaurant_id=<%=restaurant.id%>&restaurant_rating_value=5&recommendation=true"></a>
                <br/><br/>
                <p id="rating-help-recommendation"></p>
              <!--   <%= form_tag restaurants_rate_path, :method => 'post', :id => "restaurant_rating" do %>
                  <%= hidden_field_tag 'restaurant_id' %>
                  <%= hidden_field_tag 'restaurant_rating_value' %>
                  <%= submit_tag 'Avaliar', class: "small button" %>
                <% end %>
                <a class="close-reveal-modal">&#215;</a> -->
              </div>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<hr>



<!-- <div id="restaurant_details" class="panel" style="margin-top: 20px;">
	<img class="radius" src="<%= @restaurant.image_url %>">
	<div class="info">
		<span class="restaurant-name"><%= @restaurant.name %></span><br/>
		<a href="/welcome/recommender" class="fi-arrow-right"></a>
		<span class="restaurant-address"><%= @restaurant.address %></span>	<br/><br/>
		<div style="text-align: center"><%= button_to "Gostei! Vou nele =)", action: "finalize" %></div>	
	</div>
	
	
	
	<div style="clear:both;"></div>
</div>
 -->
<div class="centered ">
  <a class="round large button fi-plus" href="/welcome/add_friends?return_to=recommender"></a>
</div>
<div class="centered " style="margin-top: -110px;margin-left: 60px;">
  <a class="custom buttony round tiny button" href="/welcome/add_friends?return_to=recommender"><%=@number_friends%></a>
</div>
<div class="centered " style="margin-top: 60px;">
  <a class="round medium button" href="/welcome/reset">Começar do Zero</a>
</div>


<!-- <p><%=@recommendations%></p>
<p><%=@friends%></p>
<p><%=params[:action] %></p>

<p><%=session[:index_recommendation]%></p>
<p><%=@recommendations.length%></p>
<p><%=(@recommendations[@index_recommendation])[0]%></p>
<p><%=@index_recommendation_old%></p>
<p><%=@index_recommendation%></p> -->