<p> Surpreeesaaa </p>
<p>Recomendação (Mahout):  <%= @recommendations[@index_recommendation]%></p>

<p>Recomendação Número: <%=@index_recommendation+1%></p>

<br/>
<p>ID do Restaurante: <%=@restaurant.id%></p>
<p>Nome do Restaurante: <%=@restaurant.name%></p>
<p>Endereço do Restaurante: <%=@restaurant.address%></p>
<p>Foto do Restaurante: </p>

<%= button_to "Hoje não", action: "recommender" %>
<%= button_to "Adicionar amigos"%>
<%= button_to "Quero começar do zero", action: "index" %>
