<%= form_tag restaurants_path, :method => 'get', :id => "restaurant_search" do %>
  	<i class="fi-magnifying-glass"></i>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar Restaurantes" %>
<% end %>

<ul id="restaurant_list">
<% for restaurant in @restaurants %>
	<li>
			<img class="radius" src="<%= restaurant.image_url %>">
			<div class="info">
				<span class="restaurant-name"><%= restaurant.name %></span><br/>
				<span class="restaurant-address"><%= restaurant.address %></span>
			</div>
			<div style="clear:both;"></div>
	</li>
<% end %>
</ul>